/* variables */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,600);
em {
  font-weight: bold;
  font-style: normal; }

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #3d2b4b; }

.btn.btn-special {
  background: transparent;
  border-radius: 0;
  border-color: #ff5f54;
  color: #ff5f54 !important;
  padding: 8px 9px 5px 9px;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  font-weight: 500 !important;
  -webkit-tap-highlight-color: transparent; }
  .btn.btn-special:hover, .btn.btn-special:focus {
    color: #3d2b4b !important; }
  .btn.btn-special:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #ff5f54;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .btn.btn-special:hover:after, .btn.btn-special:active:after {
    height: 100%; }
  .btn.btn-special.white {
    font-weight: 700;
    color: #ffffff !important; }

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold; }
  a:hover {
    color: #337ab7; }

nav.navbar-default {
  background: none;
  border: none;
  border-radius: 0;
  padding: 15px 0;
  margin-bottom: 0; }
  nav.navbar-default .brand .navbar-brand {
    font-weight: 600;
    display: block;
    float: none;
    height: auto;
    padding-bottom: 0;
    color: #ff5f54;
    font-size: 19px;
    letter-spacing: 2px;
    position: relative; }
    nav.navbar-default .brand .navbar-brand:hover {
      color: #ff5f54; }
  nav.navbar-default .brand .title {
    font-weight: 500;
    color: #ffffff; }
  nav.navbar-default .navbar-nav li a {
    font-weight: 400;
    color: #ffffff;
    position: relative; }
    nav.navbar-default .navbar-nav li a.btn-special {
      margin-top: 8px;
      margin-left: 8px; }
    nav.navbar-default .navbar-nav li a:not(.btn):before {
      content: "";
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 10px;
      height: 2px;
      background: #ff5f54;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: left, right;
      -moz-transition-property: left, right;
      -ms-transition-property: left, right;
      -o-transition-property: left, right;
      transition-property: left, right; }
    nav.navbar-default .navbar-nav li a:hover, nav.navbar-default .navbar-nav li a:focus {
      color: #ffffff;
      outline: 0 !important; }
      nav.navbar-default .navbar-nav li a:hover:before, nav.navbar-default .navbar-nav li a:focus:before {
        left: 8px;
        right: 8px; }

.main .cover {
  padding: 10px 20px 0 20px;
  background: #fcfcfc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  min-height: 650px;
  overflow: hidden; }
  .main .cover * {
    color: #000 !important; }
  .main .cover header {
    padding: 130px 10px 160px 10px; }
    .main .cover header .btn-special {
      margin-top: 50px; }
    .main .cover header .hero {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      color: #ffffff;
      line-height: 60px;
      font-size: 48px; }
    .main .cover header .headlines {
      position: absolute;
      font-size: 18px;
      font-weight: normal;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      color: #ffffff;
      padding: 0 20px;
      line-height: 26px; }
    .main .cover header .tech_list {
      font-size: 0;
      padding: 0; }
      .main .cover header .tech_list li {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        color: #ffffff;
        margin-left: .5em; }
        .main .cover header .tech_list li:not(:first-child)::before {
          content: '\00B7';
          display: inline-block;
          margin-right: .5em; }
  .main .cover .illustration {
    position: absolute;
    bottom: -57px;
    width: 960px;
    left: 0;
    background: #3d2b4b;
    color: #ffffff;
    right: 0;
    margin: auto;
    height: 150px; }
  .main .cover.split {
    height: auto;
    min-height: auto;
    border-bottom: 3px solid #1f132a;
    box-shadow: 0 12px 0 #32243e;
    border-bottom: 3px solid #1f132a;
    box-shadow: 0 12px 0 #32243e; }
    .main .cover.split header {
      padding: 30px 0px 20px 0; }
      .main .cover.split header .hero {
        margin-bottom: 0;
        padding-bottom: 0; }
      .main .cover.split header p {
        color: #ffffff;
        font-size: 20px;
        margin-top: 0px; }
.main .skill-highlights {
  background: #030104;
  box-shadow: 0 12px 0 #32243e;
  padding: 30px 0; }
  .main .skill-highlights .info-block {
    border-left: 2px solid #ff5f54;
    color: #ffffff;
    padding-left: 10px; }
    .main .skill-highlights .info-block .caption {
      margin-top: 5px;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 25px; }
.main .featured {
  padding: 0px 0px 50px 0; }
  .main .featured header {
    text-align: center;
    color: #ffffff;
    padding: 40px 0; }
    .main .featured header .hero {
      display: inline-block;
      vertical-align: top;
      border-bottom: 2px solid #ff5f54; }
  .main .featured .showcase {
    padding: 30px 30px 10px 30px;
    margin-bottom: 30px;
    border: 1px solid #73548d;
    border-radius: 3px; }
    .main .featured .showcase .img-holder:hover {
      background: rgba(0, 0, 0, 0.5); }
      .main .featured .showcase .img-holder:hover img {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03); }
      .main .featured .showcase .img-holder:hover i {
        visibility: visible;
        opacity: 1; }
    .main .featured .showcase .img-holder img {
      max-width: 100%;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
    .main .featured .showcase .img-holder a {
      display: block; }
      .main .featured .showcase .img-holder a i {
        position: absolute;
        z-index: 999;
        height: 25px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out;
        z-index: 9999; }
    .main .featured .showcase .img-caption {
      margin-top: 10px;
      color: #ffffff; }
      .main .featured .showcase .img-caption h3 {
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 21px; }
      .main .featured .showcase .img-caption p {
        margin-bottom: 0; }
  .main .featured .about-btn {
    margin-top: 20px; }
.main .about {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 720px;
  margin-left: auto;
  font-size: 16px;
  margin-right: auto;
  font-weight: 300;
  color: #ffffff; }
  .main .about .big-dp {
    margin-right: 14px;
    margin-bottom: 4px; }
    .main .about .big-dp img {
      width: 150px;
      float: left;
      border: 3px solid #1f132a; }
  .main .about .heads {
    margin-top: 30px;
    margin-bottom: 5px; }
  .main .about .pro-imgs {
    margin-top: 20px;
    margin-bottom: 10px; }
    .main .about .pro-imgs .pro-img {
      margin-top: 0px;
      width: 70px;
      text-align: center;
      display: inline-block;
      font-size: 12px; }
      .main .about .pro-imgs .pro-img img {
        width: 50px;
        height: 50px; }
.main .contact {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  font-weight: 300; }
  .main .contact .form-control:focus {
    box-shadow: none; }
  .main .contact input, .main .contact textarea, .main .contact select {
    border: 1px solid #583f6d;
    background: #392946;
    border-radius: 0;
    color: #ffffff; }
  .main .contact label {
    font-weight: 300; }
  .main .contact .form-messages {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px; }
    .main .contact .form-messages.error {
      border-color: #a94442; }
    .main .contact .form-messages.success {
      border-color: green; }

.psT {
  padding-top: 8px; }

footer {
  background: #32243e;
  padding: 50px 0px 20px 0;
  color: #ccc; }
  footer .dp {
    margin-right: 14px;
    margin-bottom: 4px; }
    footer .dp img {
      width: 80px;
      float: left;
      border: 3px solid #1f132a; }
  footer a {
    color: #ffffff !important; }
  footer .contact_links i {
    display: inline-block;
    width: 25px; }
  footer .socio-links {
    margin: 0;
    padding: 0; }
    footer .socio-links li {
      list-style-type: none; }
      footer .socio-links li i {
        font-size: 30px;
        margin-right: 10px;
        float: left; }
      footer .socio-links li p {
        float: left;
        width: calc(100% - 40px); }
  footer ul.nav-footer-links {
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 0;
    text-align: center; }
    footer ul.nav-footer-links li {
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      list-style-type: none; }
      footer ul.nav-footer-links li:not(:last-child) {
        margin-right: 15px; }
      footer ul.nav-footer-links li a {
        font-weight: 500; }
      footer ul.nav-footer-links li p {
        color: #ccc; }
  footer .copyrights {
    font-size: 12px;
    padding: 10px 0 0 0;
    color: #ccc; }

@media screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
    margin-top: 10px; }
  .navbar-default li {
    text-align: center; }
    .navbar-default li a:not(.btn) {
      display: inline-block; }
  .navbar-default .navbar-toggle {
    border: none;
    background: none; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      border: none;
      background: none; }

  .main .cover {
    min-height: 86vh;
    height: auto; }
    .main .cover header {
      padding: 50px 10px 100px 10px; }
      .main .cover header .hero {
        font-size: 250%;
        line-height: normal; }
  .main .brand {
    max-width: 130px; }
    .main .brand .navbar-brand {
      padding-left: 0; }
  .main .about {
    padding-left: 15px;
    padding-right: 15px; }

  .zopim {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
